html {
    font-size: 10px;
}
body {
    position: relative;
}

/* pageHeader */

.pageHeader {
    box-sizing: border-box;
    height: 10rem;
    padding: 0 32rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2E9D8;
}
.pageHeader .topLogo {
    display: flex;
    align-items: center;
}
.pageHeader .topLogo img {
    width: 4.8rem;
    height: 5.7rem;
}
.pageHeader .topLogo p {
    font-size: 4rem;
    text-align: center;
    display: inline-block;
}

.pageHeader .topNav {
    font-size: 1.6rem;
}
.topNav button {
    background-color: transparent;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    transition: all 0.4s;
    width: 8rem;
}
.topNav button:nth-child(-n+3) {
    margin-right: 3rem;
}
.topNav button:hover{
    font-weight: 700;
    color: white;
    background: rgb(210, 20, 20);
    width: 14rem;
    height: 5rem;
}
.pageHeader .topMenu {
    cursor: pointer;
}

/* topBackground */

.topBackground {
    height: 80rem;
    padding: 0 32rem;
    box-sizing: border-box;
    background: #F2E9D8;
    display: flex;
    align-items: center;
    position: relative;
}
.topBackground img{
    position: absolute;
    bottom: 0;
    right: 32rem;
    width: 66rem;
    height: 36rem;
}
.topBackground .introduction {
    width: 74rem;
}
.introduction p:first-child {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.introduction p:nth-child(2) {
    width: 30rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
}
.introduction button {
    border: none;
    border-radius: 4rem;
    font-weight: 700;
    color: white;
    background: rgb(210, 20, 20);
    width: 14rem;
    height: 5rem;
    cursor: pointer;
}

/* mainBackground */

.mainBackground {
    height: 150rem;
    padding: 0 32rem;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.mainBackground .firstArticle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 12rem;
}
.firstArticle img {
    border-radius: 3rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
    width: 51rem;
    height: 35.5rem;
    margin-right: 11rem;
}
.firstArticle div p {
    text-align: left;
}
.firstArticle div p:first-child {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.firstArticle div p:last-child {
    font-size: 1.6rem;
}
.mainBackground .mainBackgroundTitle {
    font-size: 4.8rem;
    font-weight: 700;
    color: #D97652;
    margin-bottom: 4rem;
}
.mainBackground .mainBackgroundText {
    font-size: 1.6rem;
    margin-bottom: 8.8rem;
}
.mainBackgroundText strong {
    font-weight: 700;
    color: rgb(255, 193, 181);
}

.mainBackground .mainImageBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9rem;
}
.mainImageBox img {
    width: 37.8rem;
    height: 37.8rem;
    border: none;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
}
.mainImageBox img:nth-child(2) {
    margin: 0 7.2rem;
}
.descriptionBox {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-bottom: 9rem;
}
.descriptionBox p {
    width: 74rem;
    font-size: 1.6rem;
    margin-right: 5.2rem;
}
.descriptionBox button {
    width: 14.7rem;
    height: 5rem;
    border: none;
    border-radius: 4rem;
    background-color: #D97652;
    color: white;
    font-size: 1.6rem;
}

.mainBackground .subScribe {
    display: flex;
    position: absolute;
    bottom: -9.6rem;
    width: 128rem;
    height: 20rem;
    border-radius: 3rem;
    background-color: rgb(2, 7, 21);
    color: white;
    justify-content: center;
    align-items: center;
    transform: translateX(-7%);
}
.subScribe .subScribeTextBox {
    text-align: left;
    margin-right: 14.3rem;
}
.subScribeTextBox p:first-child {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
}
.subScribeTextBox p:last-child {
    font-size: 1.4rem;
}
.subScribeBox {
    position: relative;
}
.subScribeBox input {
    padding-left: 6.8rem;
    width: 53rem;
    height: 6rem;
    background-color: white;
    border-radius: 4rem;
    box-sizing: border-box;
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    background-position: 3rem center;
    border: none;
}
.subScribeBox .subScribeButton {
    width: 13.6rem;
    height: 5rem;
    color: white;
    border:none;
    background-color: #D97652;
    font-weight: 700;
    border-radius: 4rem;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
}
.catBackground {
    width: 100%;
    height: 34rem;
}

.footerBackground {
    padding: 0 32rem;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerBackground .topLogo {
    display: flex;
    align-items: center;
}
.footerBackground .topLogo img {
    width: 4.8rem;
    height: 5.7rem;
}
.footerBackground .topLogo p {
    font-size: 4rem;
    text-align: center;
    display: inline-block;
}
.footerBackground .snsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22.8rem;
}
.snsBox a {
    width: 4.2rem;
    height: 4.2rem;
    border: none;
    background-color: #D97652;
    border-radius: 50%;
}
.snsBox .blog{
    background-image: url(../img/blogfill.png);
    background-repeat: no-repeat;
    background-position: center;
}
.snsBox .insta{
    background-image: url(../img/instafill.png);
    background-repeat: no-repeat;
    background-position: center;
}
.snsBox .facebook{
    background-image: url(../img/facebookfill.png);
    background-repeat: no-repeat;
    background-position: center;
}
.snsBox .youtube{
    background-image: url(../img/youtubefill.png);
    background-repeat: no-repeat;
    background-position: center;
}

.topArrow {
    position: fixed;
    background-image: url(../img/topArrowButton.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    right: 2.4rem;
    bottom: 18.4rem;
    transition: all .3s;
}
.topArrow:hover {
    background-image: url(../img/topArrowButtonfill.png);
}

.modalBox {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 40rem;
    background-color: white;
    border: 0.5px solid #C4C4C4;
    border-radius: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}
.modalBox img {
    width: 11rem;
    height: 11rem;
}
.modalBox p {
    font-size: 4.8rem;
    color: #D97652;
}
.modalBox .sendMessage {
    font-size: 1.6rem;
    color: rgb(2, 7, 21);
}
.modalBox .modalCloseButton {
    background-color: #D97652;
    color: white;
    border: none;
    width: 10rem;
    height: 4rem;
    border-radius: 2rem;
    cursor: pointer;
}

.blind {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1536px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 1152px) {
    html {
        font-size: 6px;
    }
}

@media screen and (max-width: 960px) {
    html {
        font-size: 5px;
    }
}

@media screen and (max-width: 390px) {
    html {
        font-size: 2px;
    }

    /* pageHeader */

    .pageHeader {
        width: 100%;
        padding: 10rem 10rem;
        height: 38rem;
    }
    .pageHeader .topLogo img {
        width: 17rem;
        height: 24rem;
    }
    .pageHeader .topLogo p {
        font-size: 14rem;
    }
    .pageHeader .topNav {
        display: none;
    }
    .topMenu img {
        width: 15rem;
        height: 15rem;
    }

    /* topBackground */

    .topBackground {
        height: 300rem;
        padding: 0 20rem;
        justify-content: center;
    }
    .topBackground img{
        height: 90rem;
        width: 120rem;
    }
    .topBackground .introduction{
        width: 130rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .introduction p:first-child {
        font-size: 12rem;
        font-weight: 700;
        margin-bottom: 8rem;

    }
    .introduction p:nth-child(2) {
        width: 80%;
        margin-bottom: 4rem;
        font-size: 5rem;
    }
    .introduction button {
        border: none;
        border-radius: 10rem;
        font-weight: 700;
        color: white;
        background: rgb(210, 20, 20);
        width: 50rem;
        height: 20rem;
        cursor: pointer;
    }

    /* mainBackground */

    .mainBackground {
        height: 700rem;
        padding: 0 20rem;
        box-sizing: border-box;
        text-align: center;
        position: relative;
    }
    .mainBackground .firstArticle {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 35rem;
    }
    .firstArticle img {
        border-radius: 15rem;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
        width: 150rem;
        height: 105rem;
        margin: 15rem 0;
    }
    .firstArticle div p {
        text-align: center;
    }
    .firstArticle div p:first-child {
        font-size: 12rem;
        font-weight: 700;
        margin-bottom: 15rem;
    }
    .firstArticle div p:last-child {
        font-size: 7rem;
    }
    .mainBackground .mainBackgroundTitle {
        font-size: 15rem;
        margin-bottom: 8rem;
    }
    .mainBackground .mainBackgroundText {
        font-size: 8rem;
        margin-bottom: 25rem;
    }
    .mainBackground .mainImageBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9rem;
        white-space: nowrap;
        overflow-x: scroll;
    }
    .mainImageBox img {
        width: 100rem;
        height: 100rem;
        border: none;
        border-radius: 3rem;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
    }
    .mainImageBox img:nth-child(2) {
        margin: 0 15rem;
    }
    .descriptionBox {
        flex-direction: column;
        margin-bottom: 9rem;
    }
    .descriptionBox p {
        width: 100rem;
        font-size: 7rem;
        line-height: 8rem;
        margin: 0;
    }
    .descriptionBox button {
        width: 70rem;
        height: 15rem;
        margin-top: 10rem;
        border-radius: 7.5rem;
        font-size: 10rem;
    }
    .mainBackground .subScribe {
        bottom: -20rem;
        right: 24.5rem;
        flex-direction: column;
        width: 128rem;
        height: 128rem;
        border-radius: 3rem;
        background-color: rgb(2, 7, 21);
        color: white;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 15rem;
    }
    .subScribe .subScribeTextBox {
        text-align: left;
        margin-bottom: 10rem;
    }
    .subScribeTextBox p:first-child {
        font-size: 12rem;
        font-weight: 700;
        margin-bottom: 15rem;
    }
    .subScribeTextBox p:last-child {
        font-size: 7rem;
    }
    .subScribeBox {
        position: relative;
    }
    .subScribeBox input {
        padding-left: 14rem;
        width: 100rem;
        height: 13rem;
        background-color: white;
        border-radius: 6.5rem;
        box-sizing: border-box;
        background-image: url(../img/mail.png);
        background-repeat: no-repeat;
        background-position: 4rem center;
        background-size: 7rem;
        border: none;
        font-size: 5rem;
    }
    .subScribeBox .subScribeButton {
        width: 50rem;
        height: 10rem;
        position: relative;
        border-radius: 5rem;
        font-size: 6rem;
        margin-right: -50rem;
    }

    /* catBackground */

    .catBackground {
        width: 100%;
        height: 40rem;
    }

    /* footerBackground */

    .footerBackground {
        padding: 5rem 20rem;
    }
    .footerBackground .topLogo img {
        width: 14rem;
        height: 21rem;
    }
    .footerBackground .topLogo p {
        font-size: 14rem;
    }
    .footerBackground .snsBox {
        width: 45rem;
    }
    .snsBox a {
        width: 10rem;
        height: 10rem;
        border: none;
        background-color: #D97652;
        border-radius: 50%;
    }
    .snsBox .blog{
        background-image: url(../img/blogfill.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10rem;
    }
    .snsBox .insta{
        background-image: url(../img/instafill.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10rem;
    }
    .snsBox .facebook{
        background-image: url(../img/facebookfill.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10rem;
    }
    .snsBox .youtube{
        background-image: url(../img/youtubefill.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10rem;
    }

    /* topArrow */

    .topArrow {
        width: 12rem;
        height: 12rem;
        right: 5rem;
        bottom: 20rem;
    }

    /* modalBox */

    .modalBox {
        width: 120rem;
        height: 120rem;
    }
    .modalBox img {
        width: 50rem;
        height: 50rem;
    }
    .modalBox p {
        font-size: 16rem;
    }
    .modalBox .sendMessage {
        font-size: 5rem;
    }
    .modalBox .modalCloseButton {
        background-color: #D97652;
        color: white;
        border: none;
        width: 30rem;
        height: 10rem;
        border-radius: 5rem;
        cursor: pointer;
    }
}
